.divider-triangle {
  border: 1px solid #5a8f7b;
  display: inline-block;
  opacity: 0.4;
  position: relative;
  width: 200px;
}

.divider-triangle:after,
.divider-triangle:before {
  content: "";
  height: 18px;
  opacity: 0.6;
  position: absolute;
  top: -9px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 18px;
}

.divider-triangle:before {
  background-color: #5a8f7b;
  right: 50%;
}

.divider-triangle:after {
  background: #5a8f7b;
  left: 45%;
}

.section-divider {
  margin-top: 20px;
}

.section-title-center {
  margin-bottom: 15px;
}

.bookv2-item {
  border: 1px solid #d5d5d5;
  height: 100%;
  position: relative;
}

.bookv2-item-top {
  grid-gap: 15px;
  background-color: #fff;
  cursor: pointer;
  display: grid;
  gap: 15px;
  grid-template-columns: 150px 1fr;
  padding: 15px;
}

.bookv2-item-top-image img {
  border-radius: 5px;
  height: 138px;
  object-fit: cover;
  width: 150px;
}

.books-book-discount {
  background-color: #5a8f7b;
  border-radius: 0 7px 7px 0;
  color: #fff;
  font-size: 14px;
  left: 0;
  padding: 5px;
  position: absolute;
  top: 20px;
  z-index: 9;
}

.books-book-discount .on-sale {
  content: "";
  padding: 5px 8px;
  position: relative;
}

.books-book-discount .on-sale:before {
  background-color: #5a8f7b;
  border: none;
  border-radius: 1px 1px 4px;
  content: "";
  cursor: pointer;
  height: 22px;
  margin: 5px;
  position: absolute;
  right: -17px;
  text-overflow: clip;
  text-shadow: none;
  top: -1px;
  -webkit-transform: rotateY(1deg) rotate(-45deg);
  transform: rotateY(1deg) rotate(-45deg);
  width: 22px;
  z-index: -1;
}

.booksv2-item-top-content h3 {
  font-size: 18px;
  margin-bottom: 0;
}

.bookv2-item-details {
  animation: stickyMenu 0.5s ease-in-out;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  display: none;
  font-size: 14px;
  z-index: 99;
}

.bookv2-item.details-show .bookv2-item-details {
  display: block;
  left: 0;
  padding: 15px;
  position: absolute;
  width: 100%;
}

/* animation of add to card button */

.bookv2-item-details button span {
  align-items: center;
  display: flex;
  gap: 10px;
}

.add-cart-btn {
  background: #5a8f7b;
  border: none;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
  margin: 0;
  padding: 10px 30px;
  pointer-events: auto;
  position: relative;
  text-align: center;
}

.add-cart-btn,
.add-cart-btn:hover {
  color: #fff;
}

.add-cart-btn:after,
.add-cart-btn:before {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.add-carts {
  background-color: #2f4858;
  border-radius: 3px;
  color: #fff;
  overflow: hidden;
}

.add-carts span {
  position: relative;
}

.add-carts:before {
  background: #5a8f7b;
  content: "";
  left: -12%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  width: 125%;
}

.add-carts:hover:before {
  transform: translate3d(100%, 0, 0);
}

/* animation of load more buttons */
.load-more-btn {
  background: #5a8f7b;
  border: none;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
  margin: 0;
  padding: 10px 30px;
  pointer-events: auto;
  position: relative;
  text-align: center;
}

.load-more-btn:after,
.load-more-btn:before {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.load-more {
  background-color: #2f4858;
  border-radius: 3px;
  color: #fff;
  overflow: hidden;
}

.load-more span {
  position: relative;
}

.load-more:before {
  background: #5a8f7b;
  content: "";
  left: -12%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  width: 125%;
}

.load-more:hover:before {
  transform: translate3d(100%, 0, 0);
}
