/* Model */

.modal-wrapper-bottom {
  max-height: auto;
  overflow-y: auto;
  padding: 20px;
}

.modal-wrapper-bottom img {
  border-radius: 5px;
  height: 494px;
  object-fit: cover;
  width: 100%;
}

.modal-wrapper-bottom ul li p {
  display: grid;
  grid-template-columns: 135px 1fr;
  margin-bottom: 8px;
  font-size: 17px;
  line-height: 1.5;
  font-family: "philosopher", sans-serif;
  color: #676768;
}

.description-details li p span {
  color: #2f4858;
}

.calculations {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.calculations-btn {
  align-items: center;
  background-color: #2f4858;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
}

.calculations-btn button span {
  color: #fff;
  font-weight: 500;
  font-size: "poppins", sans-serif;
}

.calculations-btn button {
  background: none;
}

.book-card-button .calculations-btn button {
  height: 40px;
  width: 40px;
}

.calculations-btn button:hover {
  background-color: #5a8f7b;
}

.calculations-btn button,
.calculations-btn span {
  align-items: center;
  border: none;
  color: #fff;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

ul,
ul li {
  margin: 0;
  padding: 0;
}
