.section-title-center span {
  color: #5a8f7b;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.section-title-center h2 {
  color: #2f4858;
  font-family: Philosopher, sans-serif;
  font-weight: 700;
}

.divider-triangle {
  border: 1px solid #5a8f7b;
  display: inline-block;
  opacity: 0.4;
  position: relative;
  width: 200px;
}

.divider-triangle:after,
.divider-triangle:before {
  content: "";
  height: 18px;
  opacity: 0.6;
  position: absolute;
  top: -9px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 18px;
}

.divider-triangle:before {
  background-color: #5a8f7b;
  right: 50%;
}

.divider-triangle:after {
  background: #5a8f7b;
  left: 45%;
}

.section-divider {
  margin-top: 20px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.books {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 0 15px 5px rgba(1, 6, 33, 0.06);
  height: 100%;
  position: relative;
}

.section-title-center {
  margin-bottom: 15px;
}

.book-discount {
  background-color: #5a8f7b;
  border-radius: 0 7px 7px 0;
  color: #fff;
  font-size: 14px;
  left: 0;
  padding: 5px;
  position: absolute;
  top: 20px;
  z-index: 9;
}

.book-discount .on-sale {
  content: "";
  padding: 5px 8px;
  position: relative;
}

.books .function-icon {
  left: auto;
  position: absolute;
  right: 0;
  top: 15px;
  transition: 0.5s;
}

ul li {
  list-style-type: none;
}

ul,
ul li {
  margin: 0;
  padding: 0;
}

.books .function-icon li .icon {
  align-items: center;
  background-color: #5a8f7b;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: flex;
  height: 35px;
  justify-content: center;
  transition: all 0.5s;
  width: 35px;
}

.function-icon li:hover .icon {
  background-color: #2f4858;
  border-radius: 25px;
  color: #fff;
  overflow: hidden;
}

button {
  border: none;
}

.books:hover .function-icon {
  right: 15px;
}

.books:hover .function-icon li {
  opacity: 1;
}

.books .function-icon li:first-child {
  transition-delay: 0.2s;
}

.books .function-icon li {
  opacity: 0;
  transition: 0.5s;
}

.books .function-icon li:not(:last-child) {
  margin-bottom: 10px;
}

.img-fluid {
  height: auto;
  max-width: 100%;
}

/* button styles */
.book-bottom-details {
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
  position: relative;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all 0.4s;
  z-index: 99;
}

.books:hover .book-bottom-details {
  -webkit-transform: translateY(-65px);
  transform: translateY(-65px);
}

.book-card-button {
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  bottom: 0;
  left: 0;
  opacity: 0;
  padding: 0 15px 15px;
  position: absolute;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.4s;
  visibility: hidden;
}

.book-card-button button {
  width: 100%;
}

.add-to-carts-btn {
  background: #5a8f7b;
  border: none;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
  margin: 0;
  padding: 10px 30px;
  pointer-events: auto;
  position: relative;
  text-align: center;
}

.book-card-button button span {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.books:hover .book-card-button {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

/* animation of add to card button */

.add-to-carts-btn {
  background: #5a8f7b;
  border: none;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
  margin: 0;
  padding: 10px 30px;
  pointer-events: auto;
  position: relative;
  text-align: center;
}

.add-to-carts-btn,
.add-to-carts-btn:hover {
  color: #fff;
}

.add-to-carts-btn:after,
.add-to-carts-btn:before {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.btns-primary {
  background-color: #2f4858;
  border-radius: 3px;
  color: #fff;
  overflow: hidden;
}

.btns-primary span {
  position: relative;
}

.btns-primary:before {
  background: #5a8f7b;
  content: "";
  left: -12%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  width: 125%;
}

.btns-primary:hover:before {
  transform: translate3d(100%, 0, 0);
}

/* animation of load more buttons */
.loader-btn {
  background: #5a8f7b;
  border: none;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
  margin: 0;
  padding: 10px 30px;
  pointer-events: auto;
  position: relative;
  text-align: center;
}

.loader-btn:after,
.loader-btn:before {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.btns-loaders {
  background-color: #2f4858;
  border-radius: 3px;
  color: #fff;
  overflow: hidden;
}

.btns-loaders span {
  position: relative;
}

.btns-loaders:before {
  background: #5a8f7b;
  content: "";
  left: -12%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  width: 125%;
}

.btns-loaders:hover:before {
  transform: translate3d(100%, 0, 0);
}

.modal-wrapper {
  background-color: #fff;
  border-radius: 5px;
}

.modal-wrapper-top {
  align-items: center;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-wrapper-top h3 {
  color: #2f4858;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: #5a8f7b;
  border: 1px solid #5a8f7b;
  border-radius: 50%;
  padding: 5px;
  font-size: 19px;
}

.close-icon:hover {
  background: #5a8f7b;
  color: #f8f9fa;
}

.popup-overlay {
  z-index: 9999 !important;
}

.modal-bg {
  top: 71%;
  left: 38%;
  transform: translate(-50%, -50%);
  @media screen and (max-width: 992px) {
    top: 101%;
    left: 52%;
  }
  @media screen and (max-width: 768px) {
    top: 110%;
    left: 55%;
  }
  @media screen and (max-width: 576px) {
    top: 110%;
    left: 45%;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
}

.popup-content {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.modal-content {
  width: 90%;
  border-radius: 5px;
}

.calculations {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.calculations-btn {
  align-items: center;
  background-color: #2f4858;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
}

.calculations-btn button span {
  color: #fff;
  font-weight: 500;
  font-size: "poppins", sans-serif;
}

.calculations-btn button {
  background: none;
}

.book-card-button .calculations-btn button {
  height: 40px;
  width: 40px;
}

.calculations-btn button:hover {
  background-color: #5a8f7b;
}

.calculations-btn button,
.calculations-btn span {
  align-items: center;
  border: none;
  color: #fff;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.book-bottom-details .price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
